@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Севастополь
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:evgeniypraz@gmail.com">evgeniypraz@gmail.com</a><br />
</address>